replicas: 1
minimumMasterNodes: 1

esJavaOpts: "-Xms512m -Xmx512m"

resources:
  requests:
    cpu: "200m"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "2Gi"

esConfig:
  elasticsearch.yml: |
    xpack.security.enabled: false
    xpack.security.transport.ssl.enabled: false
    xpack.security.http.ssl.enabled: false

volumeClaimTemplate:
  resources:
    requests:
      storage: 5Gi

