apiVersion: v1
kind: Service
metadata:
  name: demo-app-service
  namespace: observability-lab
  labels:
    app: demo-app
spec:
  type: ClusterIP
  selector:
    app: demo-app
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8000

